# On suit les liens symboliques
Options +FollowSymlinks
# Activation du mod rewrite d'Apache
RewriteEngine On
# Réécriture URL Page d'accueil (liste des derniers billets)
RewriteRule ^listebillets\.html$ index.php
# Réécriture URL de la page d'inscription
RewriteRule ^inscription\.html$ index.php?action=inscriptionView
# Réécriture URL de la page de connexion
RewriteRule ^connexion\.html$ index.php?action=connexionView
# Réécriture URL de la page de création de billets
RewriteRule ^creerbillet\.html$ index.php?action=creerBilletView
# Réécriture URL de la page listant les utilisateurs
RewriteRule ^listeutilisateurs\.html$ index.php?action=listUtilisateurs
# Réécriture URL de la page listant les signalements
RewriteRule ^listesignalements\.html$ index.php?action=listSignalements
# Réécriture URL de suppression d'utilisateurs
RewriteRule ^supputilisateur_([0-9]+)-([a-zA-Z0-9\.]+)\.html$ index.php?action=suppUtilisateur&id=$1&image=$2
# Réécriture URL de la page listant les signalements
RewriteRule ^listesignalements\.html$ index.php?action=listSignalements
# Réécriture des URL des articles 
RewriteRule ^billet_([0-9]+)\.html$ index.php?action=unibillet&id_billet=$1
# Réécriture des URL d'ajout de commentaires
RewriteRule ^billet_([0-9]+)\.html$ index.php?action=ajoutCommentaire
# Réécriture des URL d'ajout de signalements
RewriteRule ^billet_([0-9]+)-signaler_([0-9]+)\.html$ index.php?action=signaler&id_commentaire=$2 [L]