body {
    background-image: url('../Images/alaska.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.row.content {height: 2000px}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.comm {
    display: block;
}

.edit {
    display: none;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}